<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        {% if title %}
        <title>{{ title|e }} - Example</title>
        {% else %}
        <title>Example</title>
        {% endif %}
        
        <link rel="stylesheet" href="{{ 
            url_for('.static', filename='stylesheets/style.css') 
        }}">
    </head>

    <body>
        {% block content %}{% endblock %}
        
        <script src="{{ 
            url_for('.static', filename='scripts/app.js')
        }}"></script>
    </body>
</html>
